.show-more-btn {
  background: #2196F3;
  border-radius: 5px;
  max-width: 465px;
  width: 100%;
  padding: 15px 0;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  font-weight: 600;
}
